#brand:hover{
    color: #2da5ee;
    cursor: context-menu;
}
#search{
    background-color: #2da5ee;
}
#list1 {
    list-style: circle;
}
ol {
    list-style: none;
    counter-reset: item;
  }
  ol > li {
    counter-increment: item;
    margin-bottom: 5px;
  }
  ol > li:before {
    margin-right: 10px;
    content: counter(item);
    background: rgb(28, 201, 77);
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }
  
element.style {
}
.example span {
    word-break: break-all;
    
    font-size: .875rem;
    color: #d63384!important;
}